---
import "../styles/tailwind.css";
import BaseHead from "../components/BaseHead.astro";
import Splash from "../components/home/Splash.astro";
import Header from "../components/home/Header.astro";

let title = "Example Blog";
let description = "The perfect starter for your perfect blog.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.mdx");
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<html lang="en" class="h-full">

<head>
	<BaseHead title={title} description={description} />
</head>

<body class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white">

	<Header />
	<Splash />

	<div class="space-y-24">
		<section class="py-48">1</section>
		<section class="py-48">2</section>
		<section class="py-48">3</section>
	</div>

</body>

</html>
