---
const currentYear = new Date().getFullYear();
---

<footer class="pt-32 pb-32">
  <div class="container mx-auto px-4 sm:px-2 space-y-4">
    <ul class="text-xs text-right flex gap-4 justify-center">
      <li><a class="hover:underline" href="/">Home</a></li>
      <li><a class="hover:underline" href="/rss.xml">RSS</a></li>
      <li>
        <a class="hover:underline" href="https://twitter.com/ryanmr">Twitter</a>
      </li>
      <li>
        <a
          class="hover:underline"
          href="https://mastodon.cloud/@ryanmr"
          rel="me">Mastodon</a>
      </li>
      <li>
        <a
          class="hover:underline"
          href="https://www.linkedin.com/in/ryanrampersad/">LinkedIn</a>
      </li>
    </ul>
    <div class="text-center text-xs">
      <p>
        &copy; 2022-<span data-current-year>{currentYear}</span>
        <a href="https://ryanrampersad.com" class="hover:underline"
          >Ryan Rampersad</a
        >
      </p>
    </div>
  </div>
</footer>

<script>
  (() => {
    const currentYear = new Date().getFullYear();
    const target = document.querySelector("[data-current-year]");
    window.addEventListener("load", () => {
      target.innerHTML = `${currentYear}`;
    });
  })();
</script>
